<!DOCTYPE html>
<html>
  <head>
    <title>DarkModeSlack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.whiteLogo = "<%= image_url('Slack_RGB_White.png') %>";
      window.normLogo = "<%= image_url('Slack_RGB.png') %>";
    </script>
  </head>

  <body>
    <% if current_user %>
      <h2><%= current_user.username %> logged in backend</h2>
    <% end %>
    <%= yield %>
  </body>
</html>
